---
import PageLayout from '@/layouts/BaseLayout.astro'
import ToolSection from '@/components/ToolSection.astro'
import Button from '@/components/Button.astro'

// const DESIGN = [
// 	{
// 		name: 'Figma',
// 		description: 'Design Tool',
// 		href: 'https://www.figma.com/',
// 		iconPath: 'figma',
// 		iconBgColour: '#000001'
// 	}
// ]

const PRODUCTIVITY = [
	{
		name: 'Arc',
		description: 'Browser',
		href: 'https://arc.net/',
		iconPath: 'arc',
		iconBgColour: '#414350'
	},
	{
		name: 'TickTick',
		description: 'Todo list',
		href: 'https://www.ticktick.com/',
		iconPath: 'ticktick',
		iconBgColour: '#EFEFEE'
	},
	{
		name: 'Raycast',
		description: 'App launcher',
		href: 'https://www.raycast.com/',
		iconPath: 'raycast',
		iconBgColour: '#EFEFEE'
	},
	{
		name: 'Obsidian',
		description: 'Note taking',
		href: 'https://obsidian.md/',
		iconPath: 'obsidian',
		iconBgColour: '#7A3EE8'
	}
]

const DEVELOPMENT = [
	{
		name: 'Neovim',
		description: 'IDE',
		href: 'https://neovim.io/',
		iconPath: 'devicon:neovim',
		iconBgColour: '#2C2C32'
	},
	{
		name: 'Alacritty',
		description: 'Terminal',
		href: 'https://github.com/alacritty/alacritty',
		iconPath: 'alacritty',
		iconBgColour: '#2C2C32'
	},
	{
		name: 'ChatGPT',
		description: 'AI',
		href: 'https://chat.openai.com/',
		iconPath: 'chatgpt',
		iconBgColour: '#06A67F'
	}
]
---

<PageLayout meta={{ title: 'Tools', description: 'Tools and software I use daily' }}>
	<div class='w-full'>
		<Button title='Back' href='/' style='button'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				width='14'
				height='14'
				viewBox='0 0 24 24'
				slot='icon-before'
			>
				<path
					fill='currentColor'
					d='m6.921 12.5l5.792 5.792L12 19l-7-7l7-7l.713.708L6.921 11.5H19v1z'
				>
				</path>
			</svg>
		</Button>

		<div class='mt-5 flex w-full flex-col gap-y-10'>
			<div>
				<h1 class='mb-1 text-2xl font-bold'>Tools</h1>
				<p>Tools and software I use daily</p>
			</div>

			<!-- <ToolSection title='Design' tools={DESIGN} /> -->
			<ToolSection title='Productivity' tools={PRODUCTIVITY} />
			<ToolSection title='Development' tools={DEVELOPMENT} />
		</div>
	</div>
</PageLayout>
