---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { ViewTransitions } from "astro:transitions";
import Contact from "@/components/shared/Contact.astro";

export const prerender = true;

export async function getStaticPaths() {
  const postEntries = await getCollection("posts");
  return postEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

type Props = {
  entry: CollectionEntry<"posts">;
};

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <ViewTransitions />
  <div class="post max-w-3xl">
    <h1>{entry.data.title}</h1>

    <div>
      Published on {(entry.data.date as Date).toLocaleDateString()} by {
        entry.data.author
      }
    </div>

    {
      entry.data.isDraft && (
        <div>This is still a work in progress, please check back later! :)</div>
      )
    }
    <div class="py-2"></div>

    <Content />

    <div class="py-6"></div>

    <Contact/>

    <div class="py-2"></div>
  </div>
</Layout>
