---
type Props = {
  title: string;
  slug: string;
  date: Date;
  isDraft: boolean;
};

const { title, slug, date, isDraft } = Astro.props;
---

<a
  href={`/posts/${slug}`}
  class="rounded-md border border-neutral-800 p-4 transition hover:bg-neutral-800"
>
  <div class="text-md flex flex-col gap-1 sm:flex-row sm:items-center">
    <div class="text-neutral-300">
      {title}
    </div>
    <div class="sm:grow"></div>
    <div class="flex">
      {
        isDraft && (
          <div class="order-2 px-2 text-sm text-neutral-500 sm:order-1">
            Draft
          </div>
        )
      }
      <div class="order-1 sm:order-2">
        {date.toLocaleDateString("en-US", { month: "short", day: "numeric" })}
      </div>
    </div>
  </div>
</a>
