---
import { personalConfig } from '@/site.config'
import LinkedInIcon from '../../icons/LinkedIn.astro'
import GitHubIcon from '../../icons/GitHub.astro'
---

<footer class='mx-auto mt-24 w-full'>
	<div class='border-t border-border pt-5'>
		<div
			class='flex flex-col items-center gap-y-3 sm:flex sm:flex-row sm:items-center sm:justify-between sm:gap-y-0'
		>
			<div class='flex gap-x-4 text-sm'>
				<!-- <a
          class='inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600'
          href='/terms'>Terms</a
        >

        <a
          class='inline-flex gap-x-2 text-gray-600 hover:text-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600'
          href='/privacy'>Privacy</a
        > -->
				<p class=''>© 2024, Joey Yu. All rights reserved.</p>
			</div>

			<div class='flex items-center justify-between'>
				<!-- Social Brands -->
				<div class='flex items-center gap-x-2'>
					<a href={'mailto:' + personalConfig.email}>{personalConfig.email}</a>
					<a
						class='inline-block text-muted-foreground transition-all hover:text-muted-foreground/75'
						target='_blank'
						aria-label='GitHub'
						href={personalConfig.github}
					>
						<GitHubIcon />
					</a>
					<!-- Linkedin -->
					<a
						class='inline-block text-muted-foreground transition-all hover:text-muted-foreground/75'
						target='_blank'
						aria-label='LinkedIn'
						href={personalConfig.linkedin}
					>
						<LinkedInIcon />
					</a>
				</div>
				<!-- End Social Brands -->
			</div>
		</div>
	</div>
</footer>
