---
import { ViewTransitions } from "astro:transitions";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="jyu.dev - about">
  <ViewTransitions />

  <div class="leading-relaxed">
    I am a student at <a
      class="text-orange-400 hover:text-neutral-100"
      href="https://mcgill.ca"
      target="_blank">McGill University</a
    >. I am currently leading the product team at <a
      class="text-orange-400 hover:text-neutral-100"
      href="https://flojoy.ai"
      target="_blank">Flojoy</a
    >, we are a startup building an open-source Python-based alternative to
    engineering software like LabVIEW. I previously worked at
    <a
      class="text-orange-400 hover:text-neutral-100"
      href="https://www.ciena.com/"
      target="_blank">Ciena</a
    > as a Software Engineer on the <a
      class="text-orange-400 hover:text-neutral-100"
      href="https://www.encqor.ca/"
      target="_blank">ENCQOR 5G</a
    > project.
  </div>
</Layout>
