---
import { ViewTransitions } from "astro:transitions";
import Layout from "@/layouts/Layout.astro";
import TweetsView from "@/components/feed/TweetsView";
---

<Layout title="jyu.dev - feed">
  <ViewTransitions />
  <div>
    <TweetsView client:load />
  </div>
</Layout>
