---
import { ViewTransitions } from "astro:transitions";
import Layout from "../layouts/Layout.astro";
import FeedView from "../components/FeedView";
---

<Layout title="jyu.dev - feed">
  <div>
    <ViewTransitions />
    <FeedView client:only />
  </div>
</Layout>
