---
import { ViewTransitions } from "astro:transitions";
import Layout from "@/layouts/Layout.astro";
import TweetsView from "@/components/feed/TweetsView.tsx";
---

<Layout title="Joey Yu - Feed">
  <ViewTransitions />
  <div>
    <TweetsView client:only="react" />
  </div>
</Layout>
