---
import Layout from "../layouts/Layout.astro";
import { ViewTransitions } from "astro:transitions";
import Socials from "@/components/shared/Socials.astro";
import Contact from "@/components/shared/Contact.astro";
import ProjectList from "@/components/home/ProjectList.astro";
import Today from "@/components/home/Today.astro";
import LatestPosts from "@/components/home/LatestPosts.astro";
---

<Layout title="Joey Yu">
  <ViewTransitions />

  <h1 class="text-3xl font-bold text-neutral-100">Joey Yu</h1>
  <div class="py-0.5"></div>
  <div class="text-md text-neutral-400">
    Software Engineer. Builder. I use Neovim btw.
  </div>
  <div class="text-md text-neutral-400">
    Interesting in cloud computing, and I like to tinker with
    <a class="text-orange-400 hover:text-neutral-100" href="/tools">dev tools</a
    >.
  </div>

  <div class="py-4"></div>

  <Today />

  <div class="py-4"></div>

  <Socials />

  <div class="py-4"></div>

  <LatestPosts />

  <div class="py-4"></div>

  <ProjectList />

  <div class="py-4"></div>

  <Contact />

  <div class="py-4"></div>
</Layout>
