---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
// import { ModeToggle } from "@/components/mode-toggle";
---

<Layout title="jyu.dev">
  <div class="flex flex-col md:flex-row">
    <div class="order-last md:order-first">Left panel</div>
    <div class="grow min-w-32 min-h-4"></div>
    <div class="order-first md:order-last">Right panel</div>
  </div>
</Layout>
