---
import { ViewTransitions } from "astro:transitions";
import Layout from "../layouts/Layout.astro";
---

<Layout title="jyu.dev">
  <ViewTransitions />
  <div class="">Coming soon...</div>
</Layout>
