---
import Layout from "../layouts/Layout.astro";
import { ViewTransitions } from "astro:transitions";
---

<Layout title="Joey Yu - Tools">
  <ViewTransitions />
  <div class="text-xl text-neutral-200">What is in my toolbox?</div>

  <div class="py-2"></div>

  <ul>
    <li>Editor: Neovim</li>
    <li>Terminal: Alacritty + tmux</li>
    <li>Window Management: Rectangle</li>
    <li>Browser: Arc</li>
    <li>Launcher: Raycast</li>
    <li>Knowledge Base: Obsedian</li>
    <li>Hardware: M1 Pro base model</li>
    <li>Keyboard: Magic Keyboard</li>
  </ul>
</Layout>
