---
import { projectsData } from "@/data/projects";
import ProjectCard from "@/components/home/ProjectCard.astro";
---

<div>
  <div class="text-xl text-neutral-200">Projects</div>

  <div class="py-2"></div>
  <div class="flex flex-col gap-2">
    {
      projectsData.map((proj, _) => {
        return <ProjectCard proj={proj} />;
      })
    }
  </div>
</div>
