---

---

<div>
  <div class="text-xl text-neutral-200">Today</div>

  <div class="py-2"></div>

  <div class="text-sm text-neutral-400">
    I lead the platform team at
    <a
      class="text-orange-400 hover:text-neutral-100"
      href="https://flojoy.ai"
      target="_blank">Flojoy</a
    >. We are building an open-source IDE for test, measurement and control, a
    drop-in replacement for LabVIEW. Meanwhile, I also study part-time at
    <a
      class="text-orange-400 hover:text-neutral-100"
      href="https://mcgill.ca"
      target="_blank">McGill University</a
    >, and I am building
    <a
      class="text-orange-400 hover:text-neutral-100"
      href="https://cassoware.dev"
      target="_blank">Cassoware</a
    > behind the scene.
  </div>
</div>
