---
import { personalConfig } from "@/site.config";
---

<a
  href={personalConfig.calendar}
  target="_blank"
  class="flex flex-row items-center gap-x-3 rounded-3xl border border-input px-4 py-2 text-sm shadow-sm transition-all hover:shadow-md"
>
  <span class="relative flex items-center justify-center">
    <span
      class="absolute inline-flex h-2 w-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75"
    ></span>
    <span class="relative inline-flex h-2 w-2 rounded-full bg-green-400"></span>
  </span>

  <p class="font-medium">Let's chat</p>
</a>
