<div>
  <div class="flex max-w-xl">
    <div class="text-xl text-neutral-200">Latest posts</div>
    <div class="grow"></div>
    <a href="/posts" class="hover:text-neutral-100">View all</a>
  </div>
  <div class="py-2"></div>
  <div>Coming soon...</div>
</div>
