<div class="flex flex-row gap-4">
  <a
    href="/blog"
    class="flex-none text-[1.05rem] font-medium hover:text-foreground/75"
    aria-label="Nav Menu Item"
    >Blog
  </a>

  <a
    href="/tools"
    class="flex-none text-[1.05rem] font-medium hover:text-foreground/75"
    aria-label="Nav Menu Item"
    >Tools
  </a>

  <a
    href="/refer"
    class="flex-none text-[1.05rem] font-medium hover:text-foreground/75"
    aria-label="Nav Menu Item"
    >Referrals
  </a>
</div>
