---
import { menuLinks } from "@/site.config";
---

<div class="flex flex-row gap-4">
  {
    menuLinks.map((link) => (
      <a
        href={link.path}
        class="hover:text-foreground/75 flex gap-0.5 text-[1.05rem] font-medium"
        aria-label="Nav Menu Item"
        target={link.external ? "_blank" : "_self"}
      >
        {link.title}
        {link.external && (
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="12"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-external-link"
          >
            <>
              <path d="M15 3h6v6" />
              <path d="M10 14 21 3" />
              <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6" />
            </>
          </svg>
        )}
      </a>
    ))
  }
</div>
