---
import { menuLinks } from "@/site.config";
---

<div class="flex flex-row gap-4">
  {
    menuLinks.map((link) => (
      <a
        href={link.path}
        class="flex-none text-[1.05rem] font-medium hover:text-foreground/75"
        aria-label="Nav Menu Item"
      >
        {link.title}
      </a>
    ))
  }
</div>
