---
import SectionHeading from "@/components/section-heading.astro";
import { config } from "@/config/site";
---

<SectionHeading title="Today" />
<p class="text-muted-foreground leading-relaxed">
  Hi! My name is <span class="text-primary text-xl">Joey</span> 👋. I'm passionate
  about building software in the <span class="text-primary text-xl"
    >fintech</span
  >
  space!
</p>
<p class="text-muted-foreground leading-relaxed">
  I am currently working on <a
    href="https://fijoy.app"
    class="text-primary text-xl">Fijoy</a
  >, a personal finance management app that helps people take control of their
  financial life.
</p>

<div class="py-1"></div>

<p class="text-muted-foreground leading-relaxed">
  During the day, I am a tead lead at <a
    href="https://flojoy.ai"
    class="text-primary text-xl">Flojoy</a
  >, building the data cloud for hardware testing data.
</p>

<div class="py-1"></div>

<p class="text-muted-foreground leading-relaxed">
  If you have any fun projects, especially in the fintech space, or if you need
  help with anything, feel free to send an email to
  <a href={`mailto:${config.email}`} class="text-primary text-xl"
    >{config.email}</a
  >!
</p>

<div class="py-1"></div>

<p class="text-muted-foreground leading-relaxed">I use Neovim btw.</p>
