---
import SectionHeading from "@/components/section-heading.astro";
---

<SectionHeading title="Today" />
<p class="text-muted-foreground leading-relaxed">
  I am a founding software engineer at <a
    class="underline"
    href="https://github.com/flojoy-ai">Flojoy</a
  >, working on Flojoy Studio and Flojoy Cloud. Meanwhile, I study at McGill
  University, and I am building <a
    href="https://github.com/itsjoeoui/fijoy"
    class="underline">Fijoy</a
  > behind the scene. <br />I use Neovim btw.
</p>
