---
import SectionHeading from "@/components/section-heading.astro";
---

<SectionHeading title="Today" />
<p class="text-muted-foreground leading-relaxed">
  I am a founding software engineer at <a
    class="underline hover:text-primary"
    href="https://github.com/flojoy-ai">Flojoy</a
  >, working on Flojoy Studio and Flojoy Cloud. Meanwhile, I study at McGill
  University, and I am building <a
    href="https://github.com/itsjoeoui/fijoy"
    class="underline hover:text-primary">Fijoy</a
  > behind the scene.
</p>

<div class="py-1"></div>

<p class="text-muted-foreground leading-relaxed">
  Interested in the <span class="font-bold">Fintech</span> space (which is the reason
  I am building <a
    href="https://github.com/itsjoeoui/fijoy"
    class="underline hover:text-primary">Fijoy</a
  >)! Please reach out if you have any fun projects or opportunities :)
</p>

<div class="py-1"></div>

<p class="text-muted-foreground leading-relaxed">I use Neovim btw.</p>
