---
import SectionHeading from "@/components/section-heading.astro";
---

<SectionHeading title="Today" />
<p class="text-muted-foreground">
  I lead the engineering team at Flojoy, working on Flojoy Studio and Flojoy
  Cloud. Meanwhile, I also study at McGill University, and I am building Fijoy,
  behind the scene.
</p>
