---
import SectionHeading from "@/components/section-heading.astro";
import { config } from "@/config/site";
---

<SectionHeading title="Tools" />

<ul class="text-muted-foreground space-y-2 list-disc list-inside">
  {
    config.tools.map((p) => (
      <li>
        <span class="font-bold">{p.name}</span> - {p.description}
      </li>
    ))
  }
  <li>...</li>
</ul>
