---
import type { HTMLTag, Polymorphic } from "astro/types";

import FormattedDate from "../FormattedDate.astro";
import type { SanityDocument } from "@sanity/client";

type Props<Tag extends HTMLTag = HTMLTag> = Polymorphic<{ as: Tag }> & {
  post: SanityDocument;
  withDesc?: boolean;
};

const { as: Tag = "div", post, withDesc = false } = Astro.props;
console.log(post);
const postDate = post.publishedAt;
---

<li class="flex flex-col gap-2 sm:flex-row sm:gap-x-4 [&_q]:basis-full">
  <FormattedDate class="min-w-[120px]" date={new Date(postDate)} />

  <Tag>
    <!-- {post.data.draft && <span class="text-red-500">(Draft) </span>} -->
    <a
      data-astro-prefetch
      href={`/blog/${post.slug}/`}
      class="transition-all hover:text-muted-foreground"
    >
      {post.title}
    </a>
    {
      withDesc && (
        <p class="line-clamp-3 block text-sm italic text-muted-foreground">
          {post.title}
        </p>
      )
    }
  </Tag>
</li>
