---
import Header from "../components/Header.astro";

import "@fontsource/open-sans";
import "../styles/base.css";

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="JYUHQ - Joey's Personal Website" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💫</text></svg>"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="container mx-auto bg-neutral-900 p-8 text-sm text-neutral-400">
    <Header />
    <div class="py-4"></div>
    <slot />
  </body>

  <style is:global>
    html {
      font-family: "Open Sans" cursive;
    }
  </style>
</html>
