---
import Header from "@/components/shared/Header.astro";

import "@fontsource/open-sans";
import "../styles/base.css";

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Joey Yu. I lead the platform team at Flojoy. Builder. I use Neovim btw. Interesting in cloud computing, and I like to tinker with dev tools. Student at McGill University."
    />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💫</text></svg>"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body
    class="container mx-auto max-w-3xl bg-neutral-900 p-8 text-sm text-neutral-400 md:w-5/6 lg:w-1/2"
  >
    <Header />
    <div class="py-4"></div>
    <slot />
  </body>

  <style is:global>
    html {
      font-family: "Open Sans" cursive;
    }
  </style>
</html>
